body {
    display: grid;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../Assets/BG.jpeg);
    background-size: contain;
}

#nav {
    position:fixed;
    display: flex;
    width: 100%;
    background-color: rgb(87, 87, 255);
    height: 60px;
    align-content: center;
    justify-content: center;
}

#nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#nav a {
    margin: 0 20px;
    font-size: 8px;
    text-decoration: none;
    color: aliceblue;
    flex-wrap: wrap;
    display: inline-flex;
    align-content: center;
}

#nav .home {
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    /* background-color: rgb(0, 15, 180); */
    width: 40px;
    height: 40px;
    border-radius: 7px;
    color: aliceblue;
    transition: 0.3s;
} 

#nav .home:hover {
    transform: scale(1.2);
    color: rgb(74, 74, 74);
}

#nav .contacto {
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    /* background-color: rgb(0, 15, 180); */
    width: 40px;
    height: 40px;
    border-radius: 7px;
    list-style-type: none;
    color: aliceblue;
    transition: 0.3s;
}

#nav .contacto:hover {
    transform: scale(1.2);
    color: rgb(74, 74, 74);
}

#nav .noticias {
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    /* background-color: rgb(0, 15, 180); */
    width: 40px;
    height: 40px;
    border-radius: 7px;
    list-style-type: none;
    color: aliceblue;
    transition: 0.3s;
}

#nav .noticias:hover {
    transform: scale(1.2);
    color: rgb(74, 74, 74);
}

#nav .ubicacion {
    cursor: pointer;
    font-size: 20px;
    /* background-color: rgb(0, 15, 180); */
    width: 40px;
    height: 40px;
    border-radius: 7px;
    list-style-type: none;
    color: aliceblue;
    transition: 0.3s;
}

#nav .ubicacion:hover {
    transform: scale(1.2);
    color: rgb(74, 74, 74);
}

#nav li:hover {
    color: aqua;
}

#body {
    display: grid;
}

#titulo {
    display: grid;
    margin-top: 60px;
    color: rgb(45, 45, 45);
    justify-self: center;
}

#port {
    width: 100%;
    margin-top: 0px;
}

#weather-info {
    margin-top: 30px;
    font-size: 14px;
    color: rgb(66, 66, 66);
    display: grid;
    background-image: url(../Assets/clima.jpg);
    background-size: cover;
    width: 200px;
    height: 110px;
    justify-self: center;
    justify-content: left;
    padding-left: 20px;
    align-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 15px blueviolet;
}

#presentacion {
    display: grid;
    justify-self: center;
}

#presentacion iframe {
    border-radius: 20px;
}

#noticia1 {
    display: grid;
    margin-top: 30px;
    background-image: url(../Assets/noticia1.jpeg);
    background-size: cover;
    width: 220px;
    height: 220px;
    align-content:end;
    justify-self: center;
    border-radius: 20px;
}

#noticia1 a {
    text-decoration: none;
    background-color: rgb(87, 87, 255);
    border-radius: 0px 0px 20px 20px;
}

#noticia1 a h4 {
    color: aliceblue;
    text-align: center;
}

#noticia2 {
    display: grid;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(../Assets/noticia2.jpg);
    background-size: cover;
    width: 220px;
    height: 220px;
    align-content:end;
    justify-self: center;
    border-radius: 20px;
}

#noticia2 a {
    text-decoration: none;
    background-color: rgb(87, 87, 255);
    border-radius: 0px 0px 20px 20px;
}

#noticia2 a h4 {
    color: aliceblue;
    text-align: center;
}


